/* Colors:
Void: #0E0B16
Stark: #E7DFDD

*/

.App {
  text-align: center;
  font-family: "Lato";
  color: #e7dfdd;
}

.logo {
  font-weight: 800;
  font-size: 1.7rem;
  margin-left: 5vw;
}

.navbar {
  height: 120px;
  background-color: #0e0b16;
  padding-top: 30px;
}

button {
  cursor: pointer;
}

.pointer {
  cursor: pointer
}

.navbar button {
  background-color: transparent;
  border: 0px;
  color: #e7dfdd;
  font-family: "Lato";
  font-size: 1rem;
}

.nav a {
  text-decoration: none;
  color: #e7dfdd;
}

.nav a:hover {
  color: #a239ca;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin-right: 3vw;
}

.footer {
  height: 100px;
  background-color: #0E0B16;
  margin-top: 800px; /*  Delete later */
  padding-top: 50px;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
}

.forms input {
  margin-top: 30px;
}

.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: 4em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

.register {
  color: #0e0b16;
}

.bills-container {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 800px;
  width: 80vw;
  margin: 0 auto;
}

.bill-left-corner {
  display: flex;
  flex-direction: row;
}

.bills-heading {
  font-size: 2.5rem;
}

.bills-container {
  font-size: 1rem;
}

.all-bills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bills-container::-webkit-scrollbar {
  display: none;
}

.bill-card {
  width: 30vw;
  max-width: 300px;
  /* max-height: 450px; */
  /* height: 40vw; */
  border: 1px solid white;
  border-radius: 8px;
  margin: 0 1vw;
  margin-bottom: 20px;
  z-index: 1;
}

.split-sum {
  font-size: 2rem;
  margin-bottom: -4%;
}

.total-sum {
  margin-bottom: 20%;
}


.bill-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bill-buttons {
  margin-bottom: 5%;
}

.bill-buttons button{
  margin-right: 2%;
  margin-left: 2%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-family: 'Lato';
  font-size: 1.3rem;
  padding: 5px;
}

.party-size p {
  margin-left: 1vw;
}

.total-sum {
  margin-top: -30px;
  margin-bottom: 150px;
}

.displayBillForm {
  display: block;
}

.removeBillForm {
  display: none;
}

.see-more-bill {
  margin-bottom: 5%;
  border: 1px solid white;
  background: transparent;
  font-family: 'Lato';
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1rem;
}

.new-bill {
  border: 1px solid white;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 5%;
  border-radius: 8px;
  min-width: 300px;
}

.new-bill input {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.new-bill-submit {
  width: 60%;
  margin: 0 auto;
  background-color: transparent;
  font-family: 'Lato';
  color: white;
  border: 1px solid white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 1rem;
}

.bills-headings {
  font-size: 2rem;
  margin: 10% 0;
}

.slide-arrow {
  position: relative;
  left: 35%;
  bottom: 50%;
}

.split-user {
  border: 1px solid white;
}


.logout-button {
  cursor: pointer;
}

.bill {
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 1.5rem;
}

.bill h1 {
  font-size: 3.2rem;
}

.underline {
  text-decoration: underline;
}

.bill button {
  margin-bottom: 2%;
}
