/* Colors:
Void: #0E0B16
Stark: #E7DFDD

*/

.App {
  text-align: center;
  font-family: 'Lato';
  color: #E7DFDD
}

.logo {
  font-weight: 800;
  font-size: 1.7rem;
  margin-left: 5vw;
}

.navbar {
  height: 120px;
  background-color: #0E0B16;
  padding-top: 30px;
}

.nav a {
  text-decoration: none;
  color: #E7DFDD;
}

.nav a:hover {
  color: #A239CA;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li{
  margin-right: 3vw;
}

.footer {
  height: 100px;
  background-color: #0E0B16;
  margin-top: 600px; /*  Delete later */
  padding-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
}

.login-form input {
    margin-top: 30px;
}
