/* Colors:
Void: #0E0B16
Stark: #E7DFDD

*/

.App {
  text-align: center;
  font-family: 'Lato';
  color: #E7DFDD
}

.logo {
  font-weight: 800;
  font-size: 1.7rem;
  margin-left: 5vw;
}

.navbar {
  height: 120px;
  background-color: #0E0B16;
  padding-top: 30px;
}

.nav a {
  text-decoration: none;
  color: #E7DFDD;
}

.nav a:hover {
  color: #A239CA;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li{
  margin-right: 3vw;
}

.footer {
  height: 100px;
  background-color: #0E0B16;
  margin-top: 600px; /*  Delete later */
  padding-top: 50px;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
}

.forms input {
    margin-top: 30px;
}

.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 4em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}